body{

	
textarea {
  height: 300px; /* Ajuste este valor conforme necessário */
  resize: none; /* Impede que o usuário redimensione a textarea */
}
	background: #d2d2c1 url('interview2.jpg');
	font: 16px Arial, Helvetica, sans-serif;
}


#principal {
	width: 900px;
}

#menu {
	background: #c5c5b2;
	width: 900px;
	padding-top: 18px;

}

#conteudo {
	background: #e8e8d9;
	width: 900px;
	padding-top: 10px;
}

#rodape {
	text-align: center;
	width: 900px;
}

.img-campanha {
	border: 10px solid #c3c3ae;
}


a {
	color: #4b566a;
	text-decoration: none;
	font-weight: bold;
	padding: 18px;
}


h1 {
	color: #828271;
	font-size: 1.2em;
}
